<%= render :gallery_structure %>

<div class="small gallery-pop-up reveal" id="galleryModal_<%= model.section %>_<%=model.id %>" <% unless browser.mobile? %> data-reveal<% end %> >
  <button class="close-button" data-close aria-label="<%= t("decidim.gallery.main.close_modal") %>"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="orbit row" data-orbit data-auto-play="false">
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr"><%= t("decidim.gallery.main.previous_slide") %></span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.425 38.092">
            <path id="Path_3921" data-name="Path 3921" d="M0,.13,18.222,22.218l8.81-10.68L36.55,0" transform="translate(23.789 0.771) rotate(90)" fill="none" stroke-width="6"/>
          </svg>
        </button>
        <button class="orbit-next"><span class="show-for-sr"><%= t("decidim.gallery.main.next_slide") %></span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.425 38.092">
            <path id="Path_3922" data-name="Path 3922" d="M0,22.088,18.222,0l8.81,10.68L36.55,22.218" transform="translate(22.854 0.771) rotate(90)" fill="none" stroke-width="6"/>
          </svg>
        </button>
      </div>

      <ul class="orbit-container">
        <%= cell("decidim/gallery/main", model).list_items %>
      </ul>
    </div>
  </div>
</div>
<% content_for(:js_content) do %>
  <%= javascript_pack_tag "decidim_gallery" %>
<% end  %>