<% if gallery_component.settings.show_title? %>
  <h3 class="section-heading gallery-heading"><%= title %> (<%= t( ".#{gallery_component.settings.gallery_type}", count: items.total_count) %>)</h3>
<% end %>

<% if gallery_component.settings.show_announcement? %>
  <div class="row">
    <div class="column"><%= translated_attribute(gallery_component.settings.announcement) %></div>
  </div>
<% end %>

<div class="row small-up <%= model.css %> mb-l medium-up-3 gallery video" id="gallery_<%= model.section %>_<%=model.id %>">
  <%= cell("decidim/gallery/main", model).collection %>
</div>
<% unless items.total_count.zero? || items.last_page? %>
  <div class="row">
    <div class="column">
      <%= link_to t("decidim.gallery.main.load_more"), gallery_path(format: 'js', page: items.next_page, section: model.section, cb: model.id), class: "button small hollow", id: "link_gallery_#{model.section}_#{model.id}", remote: true %>
    </div>
  </div>
<% end %>
